// change background navbar
.navbarbgActive {
    background: white;
    transition: 0.4s;
}

nav {

    // button close menu
    .line {
        fill: none;
        stroke: #FE4D72;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }

    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    // button close menu end

    .title-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }



    .flex ul li a:hover,
    .flex ul li a.active {
        color: #FE4D72;
        font-weight: 600;
    }

    .flex a:hover::after {
        width: 100%;
    }

    .flex ul li a.active::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #FE4D72;
        transition: width .3s;
    }

    .flex ul li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #FE4D72;
        transition: width .3s;
    }




}

@media screen and (max-width: 1256px) {
    .flex {
        .self-center .flex span:last-child {
            display: none;

        }
    }
}

@media screen and (max-width: 1020px) {
    .flex {
        .self-center .flex span:last-child {
            display: block;
        }
    }
}

@media screen and (max-width: 1024px) {
    nav {
        background: white;
        transition: 0.4s;

        .flex ul {
            background-color: #cbd5e1;
        }
    }
}